<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Gestion_des_biblio.Properties.Settings.GestionDesBiblioConnectionString"
            connectionString="Data Source=DESKTOP-ANFSKNC;Initial Catalog=GestionDesBiblio;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Gestion_des_biblio.Properties.Settings.GestionDesBibliotheuqesConnectionString"
            connectionString="Data Source=DESKTOP-ANFSKNC;Initial Catalog=GestionDesBibliotheuqes;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>